[submodule "_projects/_desktop-sheet-press/desktop-sheet-press"]
	path = _projects/_desktop-sheet-press/desktop-sheet-press
	url = https://github.com/uwo-fast/desktop-sheet-press.git
[submodule "_projects/_repo-alpha/repo-alpha"]
	path = _projects/_repo-alpha/repo-alpha
	url = https://github.com/uwo-fast/repo-alpha.git
