:root {
    /* Primary Colors */
    --western-purple: #4F2683;
    --white: #FFFFFF;
  
    /* Secondary Colors */
    --orchid: #8F55E0;
    --deep-focus: #201436;
    --black: #000000;
    --grey: #818284;
  
    /* Accent Colors */
    --sky: #7DEAFB;
    --spring: #B9F876;
    --vivid: #FCF05E;
    --tiger: #F0A757;
  }
  